.image-content{
    border-radius: 5px;
}
.blog-movie-item{
    background-color: rgb(7,24,41);
}
.item-infor{
    margin: 20px;

}
.item-infor .item-title{
    color:#febb00;
    font-weight: bolder;
    font-size: 18px;
}
.item-infor .item-description{
    color:lightgray;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}