.new-container{
    background: url(https://static1.dienanh.net/assets/images/slider-bg.jpg?v=1.0.0) no-repeat;
    padding-bottom: 100px;
}
.new-content{
    background-color: rgb(2,13,24);
}
.new_navbar{
    margin: 10px 0;
    transform: translate(25%,0);
}
